@model lei_loes.Models.LeilaoModel


@{
    ViewBag.Title = "Criar Novo Leilão";
    var listaCarros = ViewBag.ListaCarros as SelectList;

}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Leilão</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.HiddenFor(model => model.LeilaoID)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataInicio)
            @Html.EditorFor(model => model.DataInicio)
            @Html.ValidationMessageFor(model => model.DataInicio)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataFim)
            @Html.EditorFor(model => model.DataFim)
            @Html.ValidationMessageFor(model => model.DataFim)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExclusividadeLeilao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ExclusividadeLeilao, new SelectList(new List<Object>
                   {
                       new { value = true, text = "Premium" },
                       new { value = false, text = "Normal" }
                   }, "value", "text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExclusividadeLeilao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoLeilao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipoLeilao, new SelectList(new List<Object>
                   {
                       new { value = "Online", text = "Online" },
                       new { value = "Presencial", text = "Presencial" }
                   }, "value", "text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoLeilao, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Dropdown para selecionar um Carro -->
        <div class="form-group">
            @Html.LabelFor(model => model.Carro_CarroID)
            @Html.DropDownListFor(model => model.Carro_CarroID, listaCarros, "Selecione um Carro", new { @class = "form-control", @id = "carroSelect" })
            @Html.ValidationMessageFor(model => model.Carro_CarroID)
        </div>


        @Html.HiddenFor(model => model.Admin_AdminID)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
